* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
.container {
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
}

.head {
  background-color: #f5f7fa;
  padding: 20px;
}
.header-container {
  display: flex;
  align-items: center;
  gap: 100px;
  justify-content: center;
}
.hero-section {
}
.navlink {
  display: flex;
  align-items: center;
  gap: 30px;
}
ul li {
  list-style: none;
}
a {
  text-decoration: none;
  color: black;
}
.btn {
  padding-left: 30px;
}
.login {
  background-color: transparent;
  border-color: transparent;
  color: rgb(70, 167, 70);
}
.loginbtn {
  color: rgb(70, 167, 70);
}
.Signup {
  background-color: rgb(70, 167, 70);
  border: 0px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 5px;
}
.sign {
  color: white;
}
.Signup:hover {
  background-color: white;
  border: 3px;
  border-color: rgb(70, 167, 70);
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 5px;
}
.sign:hover {
  color: black;
}
.illustration {
  background-color: #f5f7fa;
  display: flex;
  justify-content: center;
  gap: 50px;
  align-items: center;
  height: 500px;
}
.content {
  padding-top: 20px;
}
.lessonheading {
  font-size: 56px;
  justify-content: center;
}
.year {
  color: rgb(70, 167, 70);
}

.register {
  background-color: rgb(70, 167, 70);
  border: 0px;
  padding: 14px 25px;

  border-radius: 2px;
  margin-top: 20px;
}
.pargraph {
  padding-top: 10px;
}
.regist {
  color: white;
}
.iconimage {
  margin-top: 40px;
  padding-left: 30px;
}
.clientsection {
  margin-top: 30px;
}
.community {
  margin-top: 20px;
  margin-bottom: 20px;
}
.clientheading {
  text-align: center;
  justify-content: center;
}
.clientpara {
  text-align: center;
  justify-content: center;
}
.clientlogo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
  margin-top: 40px;
}
.communityheading {
  justify-content: center;
  text-align: center;
  margin-top: 80px;
  font-size: 32px;
}
.communitypara {
  justify-content: center;
  text-align: center;
  margin-top: 20px;
}
.communitydiv {
  display: flex;
  margin-top: 60px;
  gap: 30px;
  justify-content: center;
}
.div1,
.div2,
.div3 {
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border: 2px solid gray;
  width: 300px;
  padding: 20px;
}

.pixelgrade {
  display: flex;
}
.pixelimage {
  margin-top: 70px;
}
.pixelhead {
  margin-top: 70px;
}
.pixelheading {
  font-size: 32px;
}
.pixelpara {
  margin-top: 20px;
}
.learnmore {
  background-color: rgb(70, 167, 70);
  border: 0px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 2px;
  margin-top: 20px;
}
.more {
  color: white;
}
